 <style type="text/css">
  body:before {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    background-image: url("/home/ameen/Downloads/12.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% 100%;
    background-attachment: fixed;
}
button{
  background-color: black;
}
.btn:hover {
  background-color: #FF8C00;
}
button{
  background-color: black;
}
.header-text {
  position: absolute;
  top: 20%;
  left: 1.8%;
  right: auto;
  width: 96.66666666666666%;
  color: #fff;
}

.header-text h2 {
  font-size: 40px;
}

.header-text h2 span {
  background-color: ;
  padding: 10px;
}

.header-text h3 span {
  background-color: ;
  padding: 15px;
}

.btn-min-block {
  min-width: 170px;
  line-height: 26px;
}

.btn-theme {
  color: #fff;

  border: 2px solid #fff;
  margin-right: 15px;
}

.btn-theme:hover {
  color: #000;
  background-color: ;
}

.btn:hover {
  background-color: ;
}

.btn-black {
  background-color: #000;
}
</style>


    <nav class="navbar" style="margin-top: 2%">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><span style="color:#FF8C00;font-size: 85px; padding-left: 80px">evc</span
          ></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav" style="padding-left: 40px">
            <li class="active"><a href="#">HOME <span class="sr-only">(current)</span></a></li>
            <li><a href="#">FEATURES</a></li>
            <li><a href="#">TESTMONY</a></li>
            <li><a href="#">DOWNLOAD</a></li>
            <li><a href="#">CONTACT</a></li>

        </ul>
    </li>
</ul>
</div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>


</div>

<div class="col-md-12" style="text-align: center; margin-top: 8%;">         

    <h1 style="color:black; " >
        <b>
            FIND CHARING <br> STATION FOR <br>YOUR <span style="color: #FF8C00;">CAR.</span></b>
        </h1>

        <p style="color: black;">
            ckjdavioadahvejfeffhe
        </p>
        <p style="color: black;">
            dsvdsfbfdbdbsvsbfbf
        </p>
    </div>

    <div class="col-md-6 col-md-offset-3">
        <div class="row">
          <div class="col-md-6 col-xs-6">
            <a href="#" class="btn btn-block btn-black">Download the <br> <b>App Store</b></a>
        </div>
        <div class="col-md-6 col-xs-6">
            <a href="#" class="btn btn-block btn-black">Get it on <br><b> GOOGLE play</b></a>
        </div>
    </div>
</div>