<div class="panel panel-success">
             <div class="panel-heading" style="text-align: center; font-size: 50px"%>
Contact Form
    </div>
            <div class="panel panel-body">
 <form >
 <div class="form-group">
      <label for="email">Name:</label>
      <input type="email" class="form-control" id="name" placeholder="Enter name" >
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email" >
    </div>
    <div class="form-group">
      <label for="pwd">Messages:</label>
      <input type="filed" class="form-control" id="messages"  placeholder="messages" >
    </div>
   
    <a   type="submit" onclick="myFunction()" class="btn btn-success btn btn-block" >Submit</a>
 

  </form>

</div>
</div>
